<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360352034659-782nqqdl65a4drk39t52iktgth5nl88v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360352034659-782nqqdl65a4drk39t52iktgth5nl88v</string>
	<key>API_KEY</key>
	<string>AIzaSyCR3DO3JQ-o8seA41Ns5mwsUksLhdJWoNw</string>
	<key>GCM_SENDER_ID</key>
	<string>360352034659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dunija.app</string>
	<key>PROJECT_ID</key>
	<string>dunija-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dunija-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360352034659:ios:f8f7cca5f0a6d93fd06d56</string>
</dict>
</plist>